nav{
    
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    height: 700px;
    width: 1440px;
    margin: 0 auto;

}
.design{
    display: flex;
    justify-content: space-between;
    color: blue;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;

}
/* nav{
    text-align: center;
    align-items: center;
} */

.logo-design{
    font-weight: 800;
    font-size: 35px;
    font-weight: bolder;
}

.btn-design{
    font-size: 20px;
    height: 48px;
    width: 132px;
    border-radius: 5px;
    background-color: blue;
    color: white;

}

.tamplate{
    text-align: center;
}

.tamplate-size{
    font-size: 45px;
}