* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(245, 248, 255, 1);
}

.raleway-main-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



.inter-secondary-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.btn-design {
    font-size: 16px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding: 12px 36px;
    border: none;

}

.btn-design:hover{
    background-color: yellow;
    color: black;
}


nav {

    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    height: 700px;
    width: 1440px;
    margin: 0 auto;

}

.design {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;

}

/* nav{
    text-align: center;
    align-items: center;
} */

.logo-design {
    font-weight: 800;
    font-size: 34px;
}


.tamplate {
    text-align: center;
    margin-top: 160px;
}

.tamplate button{
    margin-top: 37px;
}


.tamplate-size-1 {
    font-size: 65px;
    font-weight: 600;
}

/* banner-design */
.banner-boss {
    width: 1140px;
    height: 328px;
    margin: 0px auto;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.seeaction {
    font-size: 42px;
    font-weight: 600;
}

.poke {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 23px;
}

.action p {
    font-size: 24px;
}

.action img {
    border-radius: 48px;
}

/* Productive user section */
.view-section {
    width: 1140px;
    height: 306px;
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin: 116px auto;
    padding: 50px 80px;
}

.view-section h1 {
    font-size: 38px;
    font-weight: 600;
}

.user {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.views {
    font-size: 80px;
    font-weight: 800;
    color: blue;
}


/* Card Section */

.small-text {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}



.stars {
    display: flex;
}

.card {
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
}

.card-section {
    display: flex;
    gap: 20px;
    text-align: center;
}

.card-sec {
    text-align: center;
}




/* Get in Touch Section */
.touch-section {
    margin: 0px auto;
    width: 1140px;
    height: 632px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.touch-section h1 {
    font-size: 97px;
}

.form {
    width: 500px;
    height: 490px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.form label {
    font-size: 18px;
}

.form input {
    font-size: 18px;
    padding: 20px 32px;
    border-radius: 10px;
}

.form textarea {
    padding: 20px 32px;
    border-radius: 10px;
}


/* card section  */
.person-section {
    width: 1140px;
    height: 342px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.person-section-heading h1 {
    text-align: center;
    font-size: 42px;
}

.person-section-cards {
    display: flex;
    gap: 20px;
}

.person-section-card {
    background-color: white;
    width: 365px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 14px;
}

.person-image {
    display: flex;
    gap: 12px;
}

.person-image img {
    border-radius: 50%;
}