* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(245, 248, 255, 1);
}

.raleway-main-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



.inter-secondary-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.btn-design {
    font-size: 16px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding: 12px 36px;
    border: none;

}

.btn-design:hover{
    background-color: yellow;
    color: black;
}


nav {

    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    height: 700px;
    width: 1440px;
    margin: 0 auto;

}

.design {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;

}

/* nav{
    text-align: center;
    align-items: center;
} */

.logo-design {
    font-weight: 800;
    font-size: 34px;
}


.tamplate {
    text-align: center;
    margin-top: 160px;
}

.tamplate button{
    margin-top: 37px;
}


.tamplate-size-1 {
    font-size: 65px;
    font-weight: 600;
}

/* banner-design */
.banner-boss{

}
.banner{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 0 70px;
}
.seeaction{
    font-size: 42px;
    font-weight: bold;
}

.poke{
    font-size: 24px;
    color: grey
}

/* user views */
.view-section{
    text-align: center;
    background-color: rgba(92, 97, 95, 0.29);
    /* margin: 0 aut;/ */
    margin-top: 50px;
    margin-left: 420px;
    margin-right: 420px;
    padding: 50px 80px;
    border-radius: 10px;
    
}
.user{
    display: flex;
    justify-content: space-around;
    text-align: center;

    
}
.views{
    font-weight: bold;
    font-size: 60px;
    color: blue;
}
.small-text{
    font-size: 20px;
    color: rgba(162, 157, 157, 0.922);
}

.ask{

}



.stars{
    display: flex;
}
.card{
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
}

.card-section{
    display: flex;
    gap: 20px;
    text-align: center;
}

.card-sec{
    text-align: center;
}

/* footer section */
.last-part{
    text-align: center;
}
.all, .kkk{
    display: flex;
    gap: 15px;
    color: grey;
    text-align: center;
}

/* form sec */


form{
    padding: 130px 380px;
    display: flex;
    gap: 100px;
}

.column{
    width: 50%;
}
.section-title{

}
